.about {
  margin-bottom: 200px;

  .container {
    .content {
      flex-direction: column;

      .heading {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;

        h1 {
          font-size: 60px;
          color: #235347;
          margin-bottom: 100px;
        }

        .line {
          margin-bottom: 90px;
        }
      }

      .parts {
        display: flex;
        gap: 60px;

        .circle_images {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;

          .circle {
            position: absolute;
            left: 235px;
            top: 40px;
            width: 40px;
          }

          .circle2 {
            position: absolute;
            width: 50px;
            top: 80px;
            left: 25px;
          }

          .circle3 {
            position: absolute;
            left: 295px;
            top: 280px;
            width: 55px;
          }
        }

        .image {
          display: flex;
          border-radius: 10px;
        }



        .story {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-top: -20px;

          .one_side {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            gap: 20px;

            p {
              line-height: 23px;

              span {
                color: #235347;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}